<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  <link rel="apple-touch-icon" type="image/png" href="/assets/apple-touch-icon.png">

  <title>{{ title }}</title>
  <link rel="stylesheet" href="/index.css">
  <script src="/js/index.js"></script>
</head>

<body>
  <nav id="main-navbar">
    <!-- <a class="site-title" href="/">
      <img class="site-nav-image" src="../../assets/SkyLogo.svg" />
      S.C.
    </a> -->

    <a href="/">Home</a>
    <a href="/articles">Articles</a>
    <a href="/component-example">Component Examples</a>
  </nav>
  <main id="content">
    {{ content }}
  </main>
</body>

</html>